<%- include('heading'); %> 
<body>
    <div class="box" id="heading">
        <h1><%=h1%> </h1>
    </div>
     
<div class="box">
    <% for(var i=0; i<listItems.length; i++){ %>
    <div class="item">
        <input type="checkbox">
         <p> <%= listItems[i] %></p>
    </div>
    <% } %> 
    <form class="item" action="/" method="POST">
        <input type="text" placeholder="to do list" name="newItems" autocomplete="off">
       <button type="submit" name="list" value="<%=h1%>">+</button>
       </form>
</div>

<%- include("footer"); %> 
    
